.account-menu {
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
    z-index: 1;
    margin-top: -1px;
    border-radius: 0.6rem 0 0.6rem 0.6rem;
}

.account-menu,
.account-menu * {
    background-color: #3a3a3a;
    color: #e0e0e0;
}

.account-menu p {
    margin: 0;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.6rem 0 0 0;
}

.account-menu button {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #444;
    transition: background-color 0.3s ease;
    font-size: 1rem;
    border-radius: 0 0 0.6rem 0.6rem;
}

.account-menu button:hover {
    background-color: #555;
}
