header {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1.2rem;
}

header button {
    background-color: #333;
    color: #fff;
    padding: 0.6rem 1.2rem;
    border-radius: 0.6rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

header button:hover {
    background-color: #444;
}

.account {
    position: relative;
    display: inline-block;
}

.account__menu_open {
    border-radius: 0.6rem 0.6rem 0 0;
}
